@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;

}

body {
  min-height: 100vh;
  flex-direction: column;
  font-family: Montserrat;
  background: white;
}
h1{
  bottom: 10px;
}
.title{
  text-decoration: underline #07df97;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  vertical-align: baseline;
  margin-top: 5%;
  font-size: 30px;
}
.title:hover{
 color: #07df97;
 text-decoration: underline black;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  user-select: none;
  vertical-align: middle;
  margin-top: 5%;
}

.minus,
.plus {
  width: 200px;
  height: 25px;
  background: #07df97;
  border: 1px solid #1ba577;
  margin: 10px;
  flex-direction: row;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
/*This is a animation when someone hover the mouse in to the buttons */
.minus:hover,.plus:hover{
  transition: background 0.5s linear, 0.6s ease-in;
  background-color: black;
  width: 300px;
  height: 35px;
  top: 30%;
}

/* Here starts the width and the position about the num text and his settings */
.num {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 90px;
  width: 480px;
  margin: 0 10px;
  background: #fff;
  border: 1px inset rgb(15, 15, 15);
  border-radius: 15px;
  font-size: 65px;
  color: #000;
  font-weight: bold;
}
/* Here starts the width and the position about the minus text and the button */
.minus span {
  display: flex;
  width: 10px;
  height: 2px;
  background: rgb(255, 255, 255);
}
/* The nth child used by browsers to determine the CSS declaration that is the most relevant to an element, which in turn, determines the property value to apply to the element.*/
.plus span:nth-child(1) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 10px;
  height: 2px;
  background: rgb(255, 255, 255);
}

.plus span:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  width: 2px;
  height: 10px;
  background: rgb(255, 255, 255);
}

/* Here start all the footer position and the setting about a fixed footer*/
.FooterContainer {
  margin-top: 5%;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-width: fit-content;
}
p.footer-text{
  color: black;
  font-weight: 800;
  font-size: 20px;
}
.img-logo{
  width: 10%;
  vertical-align: bottom;
  margin-top: 2%;
}